<!DOCTYPE HTML>
<html>
		<head>
		<meta charset="utf-8">
		<title>智惠联盟</title>
		<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="js/jquery.min.js"></script>
		<!---- start-smoth-scrolling---->
		<script type="text/javascript" src="js/move-top.js"></script>
		<script type="text/javascript" src="js/easing.js"></script>
		<script type="text/javascript">
			
		</script>
		<!---- start-smoth-scrolling---->
		<!-- Custom Theme files -->
		<link href="css/theme-style.css" rel='stylesheet' type='text/css' />
		<!-- Custom Theme files -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		</script>
		<!----font-Awesome----->
		<link rel="stylesheet" href="fonts/css/font-awesome.min.css">
		<!----font-Awesome----->
		<!----webfonts---->
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,300,500,600,200,700,800,900' rel='stylesheet' type='text/css'>
		<!----//webfonts---->
		<!----start-top-nav-script---->
		<script>
			$(function() {
				var pull 		= $('#pull');
					menu 		= $('nav ul');
					menuHeight	= menu.height();
				$(pull).on('click', function(e) {
					e.preventDefault();
					menu.slideToggle();
				});
				$(window).resize(function(){
	        		var w = $(window).width();
	        		if(w > 320 && menu.is(':hidden')) {
	        			menu.removeAttr('style');
	        		}
	    		});
			});
		</script>
		<!----//End-top-nav-script---->
		</head>
		<body>
<!----start-container------> 
<!----start-header---->
<div id="home" class="header scroll">
			<div class="container"> 
		<!---- start-logo---->
		<div class="logo"> <a href="#"><img src="images/logo3.png" width="432" height="106" title="Blue agency" /></a> </div>
		<!---- //End-logo----> 
		<!----start-top-nav---->
		<nav class="top-nav">
					<ul class="top-nav">
				<li class="active"><a href="index.html" class="scroll" style="color:#666;">首页</a></li>
				<li class="page-scroll"><a href="gongsijianjie.html" class="scroll" style="color:#666;">公司简介</a></li>
                 <li class="active"><a href="xinwenzhongxin.html" class="scroll" style="color:#666;">新闻中心</a></li>
				<li class="page-scroll"><a href="wangshangshangcheng.html" class="scroll"style="color:#666;">网上商城</a></li>
				<li class="page-scroll"><a href="chanpinzhongxin.html" class="scroll"style="color:#666;">产品中心</a></li>
				<li class="page-scroll"><a href="hezuohuoban.html" class="scroll"style="color:#666;">代理商入口</a></li>
				<li class="page-scroll"><a href="lianxiwomen.html" class="scroll"style="color:#666;">联系我们</a></li>
			</ul>
					<a href="#" id="pull"><img src="images/nav-icon.png" title="menu" /></a> </nav>
		<div class="clearfix"> </div>
		<!----//End-top-nav----> 
	</div>
		</div>
<!----//End-header----> 
<!-----start-slider----><!-----//End-slider----> 
<!----start-about----->
<div id="about" class="about">
			<div class="text-left">
		<h2>公司简介</h2><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 深圳市智惠联盟网络科技有限公司专注于为商家提供“一站式”服务，致力于成为商家第三方专业化服务标准的制定者。以“智商家，惠大众”为目标，打造“一点点”商家服务专家品牌，为商家、消费者、政府带来巨大的经济效益和社会效益。打造商家服务开放平台。
		</strong>
<p class="wellcome-note-info"></p>
		<!----start-about-grids----->
		<div class="about-grids">
					<div class="col-md-3 about-grid"> <span class="about-icon"> </span>
				<h3><a href="#">
					<label>一点点</label>
					故事</a></h3>
有这么一种生物<br>
它微不足道<br>
它是自然界中最为团结的动物之一<br>
它们的每个个体都为了集体的生存和幸福而劳作<br>
他们组成的军团<br>
可以短短时间内把比他们强大很多的老虎啃成白骨<br>
这就是蚂蚁效应<br>
有这么一群人<br>
他们善良可爱
渴望社会的认可<br>
他们曾经爱做梦，幻想可以改变这个世界<br>
.....<br>
.....			</div>
					<div class="col-md-3 about-grid"> <span class="about-icon1"> </span>
				<h3><a href="#">
					<label>一点点</label>
					理念</a></h3>
                胸怀天下<br>
                  做到每天进步一点点...<br>
                  你们要做的就是勤奋与团结，像蚂蚁军团一样协作<br>
                  以“智商家，惠大众”为目标，打造“一点点”商家服务专家品牌<br>
                  每天进步一点点理念，通俗的说就是每一天都有收获，都能有成长<br>
                  确切的说每一天都需要进行一天的工作规划，然后去践行自己一天的工作计划并通过一定的执行力完成它<br>
                  然后将其坚持下来，最好养成自己的一个习惯。<br>
                  .....<br>
                </h4>
            </div>
					<div class="col-md-3 about-grid"> <span class="about-icon2"> </span>
				<h3><a href="#">
					<label>一点点</label>
					行动</a></h3>
全国各地建立统一行动<br>
前期建立省级市的“一点点”的智惠联盟服务厅<br>
全国统一的VI，统一门店设计沿街的玻璃上展示我们的触控投影技术，服务区摆放各种不同款式的智能设备，办公区接受各种业务的办理<br>
总公司借助互联网，自媒体等媒体工具，为“一点点”进行广告宣传，使各区域合作伙伴在当地赢得良好的商业信任<br>
总公司将会做好一套相关接近真实场景的DEMO工具及平台<br>
.....<br>
.....<br>
			</div>
					<div class="clearfix"> </div>
			  </div>
	</div>
			<!----//End-about-grids-----> 
		</div>
<!----//End-about-----> 
<!----start-services----><!----//End-services----> 
<!----start-portfolio-----><!----//End-portfolio----> 
<!-----start-testmonials----><!-----//End-testmonials----> 
<!----//End-portfolio-----> 
<!-----start-team-----><!-----//End-team-----> 
<!-----start-brand-carsuals------> 
<script type="text/javascript" src="js/jquery.flexisel.js"></script><!-----//End-brand-carsuals------> 
<!----start-blog---->

<!----//End-blog----> 
<!----start-contact----><!----//End-contact----> 
<!----start-copy-right--->
<div class="copy-right">
			<div class="container">
		<p>深圳市智惠联盟网络科技有限公司</p>
		<p style="font-size:9px"><a target="_blank" href="http://www.ipunion.net/">SHENZHEN IPUNION NETWORK TECHNOLOGY CO.LTD<br>
粤ICP备14099822号-1</a><span style="text-align: center"></span></p>
		<script type="text/javascript">
				$(document).ready(function() {
					/*
					var defaults = {
			  			containerID: 'toTop', // fading element id
						containerHoverID: 'toTopHover', // fading element hover id
						scrollSpeed: 1200,
						easingType: 'linear' 
			 		};
					*/
					
					$().UItoTop({ easingType: 'easeOutQuart' });
					
				});
			</script> 
		<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a> </div>
		</div>
<!----//End-copy-right---> 
<!----//End-container------>
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>