<!DOCTYPE HTML>
<html>
		<head>
		<meta charset="utf-8">
		<title>智惠联盟</title>
		<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="js/jquery.min.js"></script>
		<!---- start-smoth-scrolling---->
		<script type="text/javascript" src="js/move-top.js"></script>
		<script type="text/javascript" src="js/easing.js"></script>
		<script type="text/javascript">
			
		</script>
		<!---- start-smoth-scrolling---->
		<!-- Custom Theme files -->
		<link href="css/theme-style.css" rel='stylesheet' type='text/css' />
		<!-- Custom Theme files -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		</script>
		<!----font-Awesome----->
		<link rel="stylesheet" href="fonts/css/font-awesome.min.css">
		<!----font-Awesome----->
		<!----webfonts---->
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,300,500,600,200,700,800,900' rel='stylesheet' type='text/css'>
		<!----//webfonts---->
		<!----start-top-nav-script---->
		<script>
			$(function() {
				var pull 		= $('#pull');
					menu 		= $('nav ul');
					menuHeight	= menu.height();
				$(pull).on('click', function(e) {
					e.preventDefault();
					menu.slideToggle();
				});
				$(window).resize(function(){
	        		var w = $(window).width();
	        		if(w > 320 && menu.is(':hidden')) {
	        			menu.removeAttr('style');
	        		}
	    		});
			});
		</script>
		<!----//End-top-nav-script---->
		</head>
		<body>
<!----start-container------> 
<!----start-header---->
<div id="home" class="header scroll">
			<div class="container"> 
		<!---- start-logo---->
		<div class="logo"> <a href="#"><img src="images/logo3.png" width="432" height="106" title="Blue agency" /></a> </div>
		<!---- //End-logo----> 
		<!----start-top-nav---->
		<nav class="top-nav">
					<ul class="top-nav">
				<li class="active"><a href="index.html" class="scroll" style="color:#666;">首页</a></li>
				<li class="page-scroll"><a href="gongsijianjie.html" class="scroll" style="color:#666;">公司简介</a></li>
                <li class="active"><a href="xinwenzhongxin.html" class="scroll" style="color:#666;">新闻中心</a></li>
                <li class="page-scroll"><a href="wangshangshangcheng.html" class="scroll"style="color:#666;">网上商城</a></li>
				<li class="page-scroll"><a href="chanpinzhongxin.html" class="scroll"style="color:#666;">产品中心</a></li>
				<li class="page-scroll"><a href="hezuohuoban.html" class="scroll"style="color:#666;">代理商入口</a></li>
				<li class="page-scroll"><a href="lianxiwomen.html" class="scroll"style="color:#666;">联系我们</a></li>
			</ul>
					<a href="#" id="pull"><img src="images/nav-icon.png" title="menu" /></a> </nav>
		<div class="clearfix"> </div>
		<!----//End-top-nav----> 
	</div>
		</div>
<!----//End-header----> 
<!-----start-slider----><!-----//End-slider----> 
<!----start-about-----><!----//End-about-----> 
<!----start-services----><!----//End-services----> 
<!----start-portfolio-----><!----//End-portfolio----> 
<!-----start-testmonials----><!-----//End-testmonials----> 
<!----//End-portfolio-----> 
<!-----start-team-----><!-----//End-team-----> 
<!-----start-brand-carsuals------> 
<script type="text/javascript" src="js/jquery.flexisel.js"></script><!-----//End-brand-carsuals------> 
<!----start-blog---->

<!----//End-blog----> 
<!----start-contact---->
<div id="contact" class="contact">
			<div class="container">
		<div class="container">
		  <h3>联系我们	      </h3>
		  <div class="contact-grids">
		    <div class="col-md-6 contact-grid-left">
		      <form method="post" action="contact-post.html">
<strong>深圳市智惠联盟网络科技有限公司 </strong><strong><br>
	        </strong>		        地      址：广东省深圳市南山区科技园南区芒果网大厦702<br>
联系电话：0755 - 86720726<br>
联系电话：0755 - 86720515<br>
联  系 人：龚小姐
		        <p class="conditions">&nbsp;</p>
		      </form>
	        </div>
		    <!----->
		    <div class="clearfix"> </div>
	      </div>
		  <!-----start-contact-social---->
		  <!-----//End-contact-social---->
		  </div>
		<h3>给我们留言			  </h3>
		<div class="contact-grids">
					<div class="col-md-6 contact-grid-left">
				<form method="post" action="contact-post.html">
							<input type="text" value="姓名" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '请输入姓名';}">
							<input type="text" value="邮箱" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '请输入你的邮箱';}">
							<input type="text" value="主题" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '你的主题';}">
							<textarea onfocus="if(this.value == 'Your Message here....') this.value='';" onblur="if(this.value == '') this.value='Your Message here....;">正文....</textarea>
				  <p class="conditions"> <span>*</span>胸怀天下 从一点点做起.</p>
							<span class="submit-btn">
					<input type="submit" value="提交留言">
					</span>
					  </form>
			</div>
					<!----->
					<div class="clearfix"> </div>
			  </div>
		<!-----start-contact-social---->
		
		<!-----//End-contact-social----> 
  </div>
		</div>
<!----//End-contact----> 
<!----start-copy-right--->
<div class="copy-right">
			<div class="container">
		<p>深圳市智惠联盟网络科技有限公司</p>
		<p style="font-size:9px"><a target="_blank" href="http://www.ipunion.net/">SHENZHEN IPUNION NETWORK TECHNOLOGY CO.LTD<br>
粤ICP备14099822号-1</a></p>
		<script type="text/javascript">
				$(document).ready(function() {
					/*
					var defaults = {
			  			containerID: 'toTop', // fading element id
						containerHoverID: 'toTopHover', // fading element hover id
						scrollSpeed: 1200,
						easingType: 'linear' 
			 		};
					*/
					
					$().UItoTop({ easingType: 'easeOutQuart' });
					
				});
			</script> 
		<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a> </div>
		</div>
<!----//End-copy-right---> 
<!----//End-container------>
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>