
.gb-wrapper p{
	position: relative;
	width: 80%;
	margin: 0 auto;
	font-size: 17px;
}


/*去发红包navtab*/

#gp-nav-left,#gp-nav-right{
	display: block;
	float: left;
	margin-left: 6.5%;
	width: 40%;
	text-align: center;
	color: #D22A24;
	height: 72px;
	line-height: 72px;
	font-size: 17px;
	
}
#gp-nav-left{
	border-bottom: 3px solid #D72E24;
}
.gp-div{
	clear: both;
	background-color: #FFFFFF;
	border-top: 1px solid #CBCBCB;
	border-bottom: 1px solid #CBCBCB;
}
.gp-div span{
	float: right;
}
.gp-div input{
	float: right;
	height: 65px;
	width: 60%;
	text-align: right;
	border: none;
}

.gp-div p{
	margin:0 auto;
	height: 65px;
	line-height: 65px;
	
}

#gp-tips-1{
	height: 40px;
	line-height: 40px;
	color: #808080;
	font-size: 13px;
}
#gb-wrapper-p{
	position: relative;
	top: 40px;
	background-color: #E07C77;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #FAFAFA;
	font-size: 18px;
	border-radius: 5px;
}
#gp-tips{
	text-align: center;
	margin-top: 100px;
	font-size: 13px;
}
#gp-div-right{
	display: none;
}
/*遮盖层支付输入层*/
/*.gb-pay{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1000;
	min-width: 320px;
	max-width: 640px;
	max-height: 736px;
	background-color: black;
}
*/
/*密码*/
.gb-pay-password{
	background-color: white;
	margin: auto;
	margin-top: 10%;
	/*width: 250px;*/
	width: 60%;
	height: 30%;
	border-radius: 5px;
	/*height: 180px;*/
}
/*键盘*/
/*.gb-pay-keyword{
	background-color: deepskyblue;
	width: 100%;
	height: 50%;
	position: absolute;
	bottom: 0px;
}
.gb-pay-password input{
	display: block;
	width: 168px;
	margin: auto;
	background-color: red;
	text-indent: 1em;
	letter-spacing: 1em;
	
}
.gb-pay-keyword a{
	display: block;
	float: left;
	text-align: center;
	height: 33%;
	width: 33%;
}*/



		/*
	*支付密码输入*
	*/

	.pay_password_div{position:absolute;left:50%;top:5%;margin-left:-40%;width:80%; border-radius: 5px; background:#fff;z-index:100}
	.pay_password_top{text-align: center; padding:0 1rem;height:2em;line-height:2em;border-bottom:1px solid #CBCBCB;font-size:1.3rem;font-weight:normal}
	.pay_password_top em{font-style:normal;vertical-align: middle;padding:0 0.5rem;font-size:1.8rem;}
	.pay_type_number{text-align:center;border-bottom:1px solid #ccc}
	.pay_type_number span{display:block;font-size:1rem}
	.pay_type_number .pay_number{font-size:2rem; color: #CC2E1E; line-height:2rem}
	.pay_password_bottom{position:relative;}
	.pay_type_class{height:2rem;line-height:2rem;padding:0.5rem 0;font-size:1rem;position:relative;text-align: center; color:#5b5b5b;}
	.pay_type_td{position:relative; top: -10px; }
	#successText{padding:0.5rem 0 0;display:block;margin-bottom:-0.5rem;text-align:center;font-size:1.4rem;width:100%}
	#successText.error{color:#ff0202}
	.pay_type_td table{width:90%; margin: 0 auto; margin-top:0.2rem}
	.pay_type_td td{border:1px solid #ccc;height:45px;text-align:center;vertical-align:middle;width:16.66%;font-size:1.5rem;}
	.pay_type_td.error td{border-color:#ff0202;color:#ff2020}
	
	/*
*模拟键盘*
*/
.simulate_key{position:absolute;z-index:999;background:#fff;bottom:0;left:0;right:0;width:100%; font-family: arial;}
.simulate_key .simulate_key_toggle{height:40px;position:relative;}
.simulate_key .simulate_key_toggle:after{content:"";position:absolute;left:50%;top:50%;margin:-15px auto auto -15px;display:block;width:20px;height:18px;border-left:1px solid #ccc;border-bottom:1px solid #ccc;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);}
.simulate_key .simulate_key_number{height:190px;}
.simulate_key .simulate_key_number table{width:100%;height:100%}
.simulate_key .simulate_key_number td{border:1px solid #ccc;text-align:center;vertical-align: middle;font-size:1.8rem;}
.simulate_key .simulate_key_number .simulate_key_delete{background:white url(../img/delete1.png) no-repeat center center/auto 50%}
.simulate_key_clear{background:white url(../img/clear.png) no-repeat center center/auto 50%}
/*
*遮罩层*
*/
.shade_div{position:absolute;left:0;top:0;right:0;bottom:0;background:#000;opacity: 0.4;z-index:99;}
.shade_div_bg{display:none;}
.shade_div_main{display:none;}
.buy_payment_patter_shade_main.shade_div_main{background:#fff;}
.shade_div_main_top{padding:2rem;line-height:2rem;font-size:1.4rem;}
.buy_payment_patter_shade_main .dispatching_style_left{background:#ccc;}
.buy_payment_patter_shade_main .dispatching_style_bottom{background:#fff;}
.colorFF0202{color:#ff0202 !important;border-color:#ff0202 !important;}
.bdnone{border: 0;}
.bgnone{background: none;}
.colorf20202{color:#f20202;}
.clear{clear: both;font-size: 0;overflow: hidden;line-height: 0;}

/*
*遮罩层*
*/
.shade_div{position:absolute;left:0;top:0;right:0;bottom:0;background:#000;opacity: 0.6;z-index:99;}
.shade_div_bg{display:none;}
.shade_div_main{display:none;}
.buy_payment_patter_shade_main.shade_div_main{background:#fff;}
.shade_div_main_top{padding:2rem;line-height:2rem;font-size:1.4rem;}
.buy_payment_patter_shade_main .dispatching_style_left{background:#ccc;}
.buy_payment_patter_shade_main .dispatching_style_bottom{background:#fff;}
.colorFF0202{color:#ff0202 !important;border-color:#ff0202 !important;}
.bdnone{border: 0;}
.bgnone{background: none;}
.colorf20202{color:#f20202;}
.clear{clear: both;font-size: 0;overflow: hidden;line-height: 0;}



