body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td,
span {
	margin: 0;
	padding: 0;
}

p {
	outline: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

body,
button,
input,
select,
textarea {
	font: 12px/1.5tahoma, arial, \5b8b\4f53;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
}

address,
cite,
dfn,
em,
var {
	font-style: normal;
}

code,
kbd,
pre,
samp {
	font-family: couriernew, courier, monospace;
}

small {
	font-size: 12px;
}

ul,
ol {
	list-style: none;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: white;
	text-decoration: underline;
	cursor: pointer;
}

fieldset,
img {
	border: 0;
}

button,
input,
select,
textarea {
	font-size: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*苹果手机*/

input[type="text"],
input[type="button"],
input[type="submit"],
input[type="reset"] {
	-webkit-appearance: none;
}

textarea {
	-webkit-appearance: none;
}

@font-face {
	font-family: SourceHanSansCN-Medium;
	src: url(../font/SourceHanSansCN-Medium.otf);
}

html,
body {
	width: 100%;
	height: 100%;
	/*font-family: SourceHanSansCN-Medium;*/
	font-family: "微软雅黑";
}

.wrapper {
	height: 100%;
	background-color: gainsboro;
	min-width: 320px;
	min-height: 320px;
	margin: 0 auto;
	max-width: 640px;
	position: relative;
	/*max-height: 736px;*/
}


/*红色背景top*/

.top {
	position: relative;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	max-width: 640px;
	height: 50%;
	min-height: 240px;
	background-color: #AD2D27;
	background-image: url(../img/redback.png);
	background-size: 100% 50%;
	background-repeat: no-repeat;
	text-align: center;
}


/*白色top背景*/

.top-white {
	position: relative;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	max-width: 640px;
	height: 50%;
	min-height: 240px;
	background-color: #FAFAFA;
	background-image: url(../img/00.png);
	background-size: 100% 50%;
	background-repeat: no-repeat;
	text-align: center;
}

.my-red-pack {
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: bold;
	display: block;
	position: relative;
	top: 38%;
	color: white;
	cursor: pointer;
}

.main {
	height: 50%;
	background-color: #FAFAFA;
}

.main ul {
	margin: 0 auto;
	width: 90%;
}

.main li {
	border-bottom: 2px solid #CCCCCC;
	height: 58px;
	line-height: 29px;
}

.nav-left-span {
	float: left;
	font-size: 17px;
}

.nav-right-span {
	text-align: right;
	float: right;
	line-height: 59px;
	font-size: 17px;
	color: #333333;
}

.nav-right-span-best {
	font-size: 17px;
	text-align: right;
	float: right;
	line-height: 29px;
	color: #333333;
}

.main-time {
	font-family: arial;
	font-size: 13px;
	color: #666666;
}


/*全局提示tips*/

.red-pack-tips {
	color: #E7FFFF;
	position: absolute;
	bottom: 20px;
	width: 100%;
	max-width: 640px;
	text-align: center;
}


/*全局遮盖层*/

.shade-div {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	min-width: 320px;
	margin: 0 auto;
	max-width: 640px;
	background: #000;
	opacity: 0.6;
	z-index: 199;
}


/*红包弹出框*/

.red-pack--dialog {
	display: none;
	position: absolute;
	top: 20%;
	left: 50%;
	margin-left: -125px;
	text-align: center;
	width: 250px;
	height: 300px;
	background-image: url(../img/dialog.png);
	background-size: 100% 100%;
	border-radius: 10px;
	max-width: 400px;
	z-index: 200;
}
/*红包弹出框图片*/
.red-pack-dialog-img{
	position: relative;
	top: 100px;
}

/*红包弹出窗口标题*/

.red-pack-dialog-title {
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: bold;
	display: block;
	position: relative;
	top: 22%;
	color: white;
	cursor: pointer;
}

/*红包弹出窗口内容*/

.red-pack-dialog-main {
	font-size: 16px;
	letter-spacing: 1px;
	display: block;
	position: relative;
	top: 28%;
	color: white;
	cursor: pointer;
}
/*红包弹出窗口底部*/
.red-pack-dialog-foot{
	font-size: 13px;
	letter-spacing: 1px;
	display: block;
	position: relative;
	top: 35%;
	color: #F4D103;
	cursor: pointer;
}

/*打开红包的提示内容span1*/

.open-red-pack-span1 {
	font-size: 16px;
	letter-spacing: 1px;
	display: block;
	position: relative;
	top: 52%;
	color: white;
}


/*打开红包的提示内容span2*/

.open-red-pack-span2 {
	font-size: 17px;
	letter-spacing: 2px;
	display: block;
	position: relative;
	top: 57%;
	font-weight: bold;
	color: #f0d102;
}



/*花红包按钮*/

#use-red-pack-img1 {
	position: absolute;
	bottom: 60px;
	left: 50%;
	margin-left: -75px;
}


/*未关注用户点击花红包首页提示关注公众号框*/

.urp-focus {
	width: 100%;
	height: 100%;
	position: relative;
	background-image: url(../img/05.png);
	background-repeat: no-repeat;
	background-size: 80% 70%;
	background-position: center;
}


/*已关注用户点击花红包首页提示获得红包金额框*/

.urp-get-tips {
	width: 100%;
	height: 100%;
}

#urp-x1 {
	position: absolute;
	top: 45%;
	left: 79%;
	z-index: 2;
}

#urp-get-tips-img {
	position: absolute;
	top: 40%;
	left: 10%;
	z-index: 1;
}

#urp-get-tips-span {
	display: block;
	text-align: center;
	color: #FF2C4B;
	font-size: 17px;
	letter-spacing: 1px;
	position: relative;
	top: 76%;
	z-index: 3;
	}
/*红包弹出框小提示框*/
.red-pack-dialog-mini {
	display: none;
	position: absolute;
	left: 50%;
	margin-left: -125px;
	top: 50%;
	margin-top: -75px;
	text-align: center;
	background: #FFFFFF;
	width: 250px;
	height: 150px;
	border-radius: 10px;
	max-width: 400px;
	z-index: 200;
}
.red-pack-dialog-mini-span1{
	font-size: 17px;
	color: #333333;
	display: block;
	height: 100px;
	line-height: 100px;
	border-bottom: 1px solid #C9C9C9;
}
.red-pack-dialog-mini-span2{
	font-size: 18px;
	color: #333333;
	letter-spacing: 5px;
	display: block;
	height: 50px;
	line-height: 50px;
}
