<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<!--<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />-->
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
		<link rel="stylesheet" type="text/css" href="css/market-trend.css"/>
		<script src="js/jquery1.8.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/index.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
		<title>公司介绍</title>
	</head>
	<body>
		<div class="top">
				<div class="top-menu">
					<ul>
						<li class="logo-li">
							<a href="index.html"><img src="../../project/qr-mobile/m_img/logo.png" class="logo" />
							</a>
						</li>
						<li><a href="index.html">首页</a></li>
						<li><a href="company.html" class="top-menu-a">公司介绍</a></li>
						<li><a href="market-trend.html">市场动向</a></li>
						<li><a href="company-policy.html">招商政策</a></li>
						<li><a href="fae-support.html">技术支持</a></li>
						<li><a href="join-us.html">加入我们</a></li>
					</ul>
			    </div>
		</div>
		
		<div class="main">
			
			<div class="market-trend">
				
				<!--公司介绍内容-->
					<div class="company-content">
						<h1>1、了解我们</h1>
						<p>深圳市智惠联盟网络科技有限公司其核心创业团队成立于2010年1月，是深圳市壹点点信息科技有限公司旗下子公司，是全国首家独立第三方专业化服务机构，专注于为商家提供“一站式”服务，以金融服务为核心，打造商家服务开放平台，致力于成为商家第三方专业化服务标准的制定者。公司秉承“尊重平等，创意服务，守望相助，合作共赢”的理念，以“智商家、惠大众”为目标，打造“一点点”专家服务品牌，依托智能云POS机、金融电子凭证，为商家提供大数据服务，实现真正的O2O落地，合力打造首个O2O商户端生态链。为商家、消费者、政府等广大用户带来巨大的经济效益和社会效益，共同实现“创造历史、造福百姓、服务厂商、贡献国家、美丽世界”的光荣使命。
						</p>
						
						<h1>2、业务范围</h1>
						<p>提供商户经营商店所需用到的服务----实现硬件软件化、软件云端化；
硬件类包括但不限于-----智能收银端、智能商品展示终端；
软件即应用类包括但不限于-----店铺营销类、店铺装修类、CRM类、ERP类、商铺运营类、订单管理类、数据分析类、财务管理类、咨询管理类、融资贷款类、生活服务类等。
						</p>
						
						<h1>3、企业文化</h1>
						<p>
							公司使命：服务厂商，造福百姓，贡献国家，创造历史，美丽世界。
						</p>
						<p>
							公司价值观：相信、创意、坚持、梦想、分享、共赢。
						</p>
						<p>
							诠释：
						</p>
						<p>
							一、我们相信，你是最棒的!（就是对内、对外的相信，我们要发挥相信的力量）
						</p>
						<p>
							二、创意：以企业家为中心，创意服务；需要我们持续创新，构建不同的有创意的服务模式。
						</p>
						<p>
							三、坚持：从第一点开始，从一点点做起，积一点点进步，成一点点梦想！
						</p>
						<p>
							四、梦想：始终怀揣梦想，敢于破旧立新，用于追求梦想，实现梦想！
						</p>
						<p>
							五、分享：习惯分享、喜欢分享，理解少即是多的一点点智慧！
						</p>
						<p>
							六、共赢：我们在彼此的事业交互中，需要有共赢的思维；让员工、投资人、合作伙伴、商家围绕共通的事业，实现共赢！
						</p>
						<p>
							公司经营理念：
						</p>
						<p>
							以人为本，以企业家为中心，用心服务，尊重平等，创意服务，守望相助，合作共赢。
						</p>
						<p>
							公司愿景：
						</p>
						<p>
							成为世界上第三方商业服务标准的制定者和践行者；
通过底层融合支付链接最大范围的全球商家，并为之提供精细化、标准化或个性化的服务，从而成为影响区域经济的大型服务型国际企业集团!

						</p>
						
						<h1>4、客户价值：</h1>
						<p>-----为商户提供智能商业的一站式服务，包括但不限于融合收银设备、线上线下融合会员商城、线上线下通用会员卡，营销推广类互联网工具，商店经营类互联网应用、企业经营咨询及数据分析、其他生活服务类应用等服务。
-----联接的亿企联平台，接入优质、平价、品牌供应商、以商品联接各商家。
</p>

						<h1>5、战略发展：</h1>
						<p>客户需求：满足企业金融化与商业智能的需求；
          底成本、多选择、高价值的互联网商业应用满足商户正常经营；
          为企业提供商品销售第三方渠道以及商户联盟平台。
</p>
					</div>
			
			    <!--地图div-->   
			        <div style="width:840px;height:450px;border:#ccc solid 1px;" id="dituContent"></div>
			</div>
			
		</div>
		<div class="foot">深圳市壹点点信息技术有限公司</div>
		
		<script type="text/javascript">
    //创建和初始化地图函数：
    function initMap(){
        createMap();//创建地图
        setMapEvent();//设置地图事件
        addMapControl();//向地图添加控件
    }
    
    //创建地图函数：
    function createMap(){
        var map = new BMap.Map("dituContent");//在百度地图容器中创建一个地图
        var point = new BMap.Point(113.941652,22.529533);//定义一个中心点坐标
        map.centerAndZoom(point,18);//设定地图的中心点和坐标并将地图显示在地图容器中
        window.map = map;//将map变量存储在全局
    }
    
    //地图事件设置函数：
    function setMapEvent(){
        map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
        map.enableScrollWheelZoom();//启用地图滚轮放大缩小
        map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
        map.enableKeyboard();//启用键盘上下左右键移动地图
    }
    
    //地图控件添加函数：
    function addMapControl(){
        //向地图中添加缩放控件
	var ctrl_nav = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
	map.addControl(ctrl_nav);
        //向地图中添加缩略图控件
	var ctrl_ove = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:1});
	map.addControl(ctrl_ove);
        //向地图中添加比例尺控件
	var ctrl_sca = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
	map.addControl(ctrl_sca);
    }
    
    
    initMap();//创建和初始化地图
</script>
		
		
	</body>
</html>
