<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<!--<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />-->
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
		<link rel="stylesheet" type="text/css" href="css/market-trend.css"/>
		<script src="js/jquery1.8.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/index.js" type="text/javascript" charset="utf-8"></script>
		<title>招商政策</title>
	</head>
	<body>
		<div class="top">
				<div class="top-menu">
					<ul>
						<li class="logo-li">
							<a href="index.html"><img src="../../project/qr-mobile/m_img/logo.png" class="logo" />
							</a>
						</li>
						<li><a href="index.html">首页</a></li>
						<li><a href="company.html">关于我们</a></li>
						<li><a href="market-trend.html">市场动向</a></li>
						<li><a href="company-policy.html"  class="top-menu-a">招商政策</a></li>
						<li><a href="fae-support.html">技术支持</a></li>
						<li><a href="join-us.html">加入我们</a></li>
					</ul>
			    </div>
		</div>
		
		<div class="main">
			
			<div class="market-trend">
				
				<!--招商政策每一个横排-->
					<div class="company-content">
						<h1>一、加盟对象（服务商）和条件</h1>
						<h2>对象：</h2>
						<p>1. 传统商家</p>
						<p>2. POS的从业人员,各类外卖及P2P等行业地推人员</p>
						<p>3. 待创业的大学生</p>
						<h2>条件：</h2>
						<p>1. 加盟的服务商需要付两万元的购机费用</p>
						<p>2. 具有法人资格</p>
						<p>3. 优秀人员可以适当放宽条件</p>
						
						<h1>二、和智惠联盟合作可以获得的利益</h1>
						<h2>1、 服务商方面</h2>
						<p>A、设备差价</p>
						<p>B、收单分润</p>
						<p>C、商品交易佣金</p>
						<p>D、广告收益分成</p>
						<p>E、运营收益分成</p>
						<p>F、供应商商品交易佣金</p>
						<h2>2、商家方面</h2>
						<p>A、免费O2O商城 </p>
						<p>B、产品自主化选择</p>
						<p>C、营销自主化精度高 </p>
						<p>D、提供更多的增值服务</p>
						<p>E、增加销售渠道  </p>
						<p>F、代理更多产品</p>
						<p>G、精准营销 </p>
						<p>H、增加会员粘性</p>
						<p>I、打通线上线下 </p>
						<p>J、信任转移</p>
						<p>K、降本增效 </p>
						<p>L、增加销售收人</p>
						<p>M、扩大品牌影响力 </p>
						<p>N、促进自主创新 </p>
						<p>O、平台开放性高  </p>
						<p>P、基础应用免费 </p>
						<p>Q、广告收益 </p>
						<p>R、营销联盟</p>
						
				    </div>
				
				
			</div>
			
		</div>
		<div class="foot">深圳市壹点点信息技术有限公司</div>
		
	</body>
</html>
