<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<!--<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />-->
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
		<link rel="stylesheet" type="text/css" href="css/market-trend.css"/>
		<script src="js/jquery1.8.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/index.js" type="text/javascript" charset="utf-8"></script>
		<title>加入我们</title>
	</head>
	<body>
		<div class="top">
				<div class="top-menu">
					<ul>
						<li class="logo-li">
							<a href="index.html"><img src="../../project/qr-mobile/m_img/logo.png" class="logo" />
							</a>
						</li>
						<li><a href="index.html">首页</a></li>
						<li><a href="company.html">关于我们</a></li>
						<li><a href="market-trend.html">市场动向</a></li>
						<li><a href="company-policy.html">招商政策</a></li>
						<li><a href="fae-support.html">技术支持</a></li>
						<li><a href="join-us.html" class="top-menu-a">加入我们</a></li>
					</ul>
			    </div>
		</div>
		
		<div class="main">
			
			<div class="market-trend">
				
			    <div class="join-us-content">
			    	<img src="img/hr-pic1.jpg"/>
			    	<img src="img/hr-pic2.jpg" class="join-us-content-right"/>
			    </div>
			    
			    <div class="join-us-content">
			    	<img src="img/hr-pic3.jpg"/>
			    	<img src="img/hr-pic4.jpg" class="join-us-content-right"/>
			    </div>
			    
			    <div class="join-us-tips">简历请投至xxxxx@ipunion.net</div>
			  
			  
			
			</div>
			
		</div>
		<div class="foot">深圳市壹点点信息技术有限公司</div>
		
	</body>
</html>
