<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<!--<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />-->
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
		<link rel="stylesheet" type="text/css" href="css/market-trend.css"/>
		<script src="js/jquery1.8.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/index.js" type="text/javascript" charset="utf-8"></script>
		<title>市场动向</title>
	</head>
	<body>
		<div class="top">
				<div class="top-menu">
					<ul>
						<li class="logo-li">
							<a href="index.html"><img src="../../project/qr-mobile/m_img/logo.png" class="logo" />
							</a>
						</li>
						<li><a href="index.html">首页</a></li>
						<li><a href="company.html">关于我们</a></li>
						<li><a href="market-trend.html" class="top-menu-a">市场动向</a></li>
						<li><a href="company-policy.html">招商政策</a></li>
						<li><a href="fae-support.html">技术支持</a></li>
						<li><a href="join-us.html">加入我们</a></li>
					</ul>
			    </div>
		</div>
		
		<div class="main">
			
			<div class="market-trend">
				
				<!--文章-->
				<div class="market-trend-main">
					
					<img src="img/142043404470.jpg"  class="market-trend-main-left-img"/>
					
					<div class="market-trend-main-right-main">
						<a href="http://www.huxiu.com/article/148606/1.html" target="_blank">苹果10亿美元投滴滴的深层次动机</a>
						<div class="market-trend-main-date">
							2015-06-18
						</div>
						
						<div class="market-trend-main-content">
							试图准确猜测苹果这笔投资的意义将是徒劳无益的,在苹果与滴滴宣布这笔投资的几小时后，评论人士就开始猜测苹果这笔投资的各种原因，所能带来的各种结果，并做出各种有关苹果的结论。实际上，苹果投资滴滴有许多显而易见的原因，而对滴滴来说，苹果将成为该公司的潜在合作伙伴。
						</div>
					</div>
					
				</div>
				
				<!--文章-->
				<div class="market-trend-main">
					
					<img src="img/142043404470.jpg"  class="market-trend-main-left-img"/>
					
					<div class="market-trend-main-right-main">
						<a href="http://www.huxiu.com/article/148606/1.html" target="_blank">苹果10亿美元投滴滴的深层次动机</a>
						<div class="market-trend-main-date">
							2015-06-18
						</div>
						
						<div class="market-trend-main-content">
							试图准确猜测苹果这笔投资的意义将是徒劳无益的,在苹果与滴滴宣布这笔投资的几小时后，评论人士就开始猜测苹果这笔投资的各种原因，所能带来的各种结果，并做出各种有关苹果的结论。实际上，苹果投资滴滴有许多显而易见的原因，而对滴滴来说，苹果将成为该公司的潜在合作伙伴。
						</div>
					</div>
					
				</div>
				
				<!--文章-->
				<div class="market-trend-main">
					
					<img src="img/142043404470.jpg"  class="market-trend-main-left-img"/>
					
					<div class="market-trend-main-right-main">
						<a href="http://www.huxiu.com/article/148606/1.html" target="_blank">苹果10亿美元投滴滴的深层次动机</a>
						<div class="market-trend-main-date">
							2015-06-18
						</div>
						
						<div class="market-trend-main-content">
							试图准确猜测苹果这笔投资的意义将是徒劳无益的,在苹果与滴滴宣布这笔投资的几小时后，评论人士就开始猜测苹果这笔投资的各种原因，所能带来的各种结果，并做出各种有关苹果的结论。实际上，苹果投资滴滴有许多显而易见的原因，而对滴滴来说，苹果将成为该公司的潜在合作伙伴。
						</div>
					</div>
					
				</div>
				<!--文章-->
				<div class="market-trend-main">
					
					<img src="img/142043404470.jpg"  class="market-trend-main-left-img"/>
					
					<div class="market-trend-main-right-main">
						<a href="http://www.huxiu.com/article/148606/1.html" target="_blank">苹果10亿美元投滴滴的深层次动机</a>
						<div class="market-trend-main-date">
							2015-06-18
						</div>
						
						<div class="market-trend-main-content">
							试图准确猜测苹果这笔投资的意义将是徒劳无益的,在苹果与滴滴宣布这笔投资的几小时后，评论人士就开始猜测苹果这笔投资的各种原因，所能带来的各种结果，并做出各种有关苹果的结论。实际上，苹果投资滴滴有许多显而易见的原因，而对滴滴来说，苹果将成为该公司的潜在合作伙伴。
						</div>
					</div>
					
				</div>
				<!--文章-->
				<div class="market-trend-main">
					
					<img src="img/142043404470.jpg"  class="market-trend-main-left-img"/>
					
					<div class="market-trend-main-right-main">
						<a href="http://www.huxiu.com/article/148606/1.html" target="_blank">苹果10亿美元投滴滴的深层次动机</a>
						<div class="market-trend-main-date">
							2015-06-18
						</div>
						
						<div class="market-trend-main-content">
							试图准确猜测苹果这笔投资的意义将是徒劳无益的,在苹果与滴滴宣布这笔投资的几小时后，评论人士就开始猜测苹果这笔投资的各种原因，所能带来的各种结果，并做出各种有关苹果的结论。实际上，苹果投资滴滴有许多显而易见的原因，而对滴滴来说，苹果将成为该公司的潜在合作伙伴。
						</div>
					</div>
					
				</div>
				
				<!--文章-->
				<div class="market-trend-main">
					
					<img src="img/142043404470.jpg"  class="market-trend-main-left-img"/>
					
					<div class="market-trend-main-right-main">
						<a href="http://www.huxiu.com/article/148606/1.html" target="_blank">苹果10亿美元投滴滴的深层次动机</a>
						<div class="market-trend-main-date">
							2015-06-18
						</div>
						
						<div class="market-trend-main-content">
							试图准确猜测苹果这笔投资的意义将是徒劳无益的,在苹果与滴滴宣布这笔投资的几小时后，评论人士就开始猜测苹果这笔投资的各种原因，所能带来的各种结果，并做出各种有关苹果的结论。实际上，苹果投资滴滴有许多显而易见的原因，而对滴滴来说，苹果将成为该公司的潜在合作伙伴。
						</div>
					</div>
					
				</div>
				
				<!--文章-->
				<div class="market-trend-main">
					
					<img src="img/142043404470.jpg"  class="market-trend-main-left-img"/>
					
					<div class="market-trend-main-right-main">
						<a href="http://www.huxiu.com/article/148606/1.html" target="_blank">苹果10亿美元投滴滴的深层次动机</a>
						<div class="market-trend-main-date">
							2015-06-18
						</div>
						
						<div class="market-trend-main-content">
							试图准确猜测苹果这笔投资的意义将是徒劳无益的,在苹果与滴滴宣布这笔投资的几小时后，评论人士就开始猜测苹果这笔投资的各种原因，所能带来的各种结果，并做出各种有关苹果的结论。实际上，苹果投资滴滴有许多显而易见的原因，而对滴滴来说，苹果将成为该公司的潜在合作伙伴。
						</div>
					</div>
					
				</div>
				
				
				
			</div>
			
		</div>
		<div class="foot">深圳市壹点点信息技术有限公司</div>
		
	</body>
</html>
